@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", monospace;
    background-color: white;
    color: black;
    height: 100vh;
    cursor: url(./cursors/Normal.cur), auto;
}

a,
button {
    cursor: url(./cursors/Link.cur), pointer !important;
}

.opaco {
    filter: blur(1.5px);
    transition: all 0.4s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f3f3f3ce;
}

header .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .left h1 {
    font-size: 20px;
}

header .left i {
    font-size: 24px;
}

header .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .right button {
    font-family: "Poppins", monospace;
    border: 1px solid #c7c7c7b6;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .right button:hover {
    padding: 5px 13px;
    background-color: #e7e7e744;
    transition: 0.3s;
    border-radius: 6px;
}

header .right button i {
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

main .title-main {
    color: #898989;
    margin: 20px 20px 0px 20px;
}

main .container {
    display: flex;
    flex-direction: column;
}

main .container .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 560px;
    margin: 0px 20px 0px 20px;
    gap: 10px;
    padding: 3px;
    background-color: #c7c7c723;
    border: 1px solid #c0c0c05b;
    border-radius: 20px;
}

main .container .tabs a:last-child {
    color: #ff000050;
}

main .container .tabs a:last-child:hover,
main .container .tabs a:last-child:focus {
    border: 1px solid lightgray;
    background: transparent;
    box-shadow: none;
}

main .container .tabs a {
    border: 1px solid #c0c0c062;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: #e6e6e623;
    color: #898989;
    text-decoration: none;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container .tabs a:hover {
    border: 1px solid #0059ff4b;
    box-shadow: 0 4px 22px #3d4be81a;
    transition: 0.4s;
}

.container .tabs a:focus {
    border: 1px solid #1d77ffce;
    box-shadow: 0 4px 8px #1d77ff2e;
    transition: 0.3s;
    background-color: #ffffffda;
    color: #252525;
}

.container .tabs a:focus #html {
    color: #ff5125;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.301);
    transition: 0.2s;
}

.container .tabs a:focus #css {
    color: #0077ff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.301);
    transition: 0.2s;
}

.container .tabs a:focus #js {
    color: #ffdb0c;
    text-shadow: 0 2px 2px rgb(0, 0, 0);
    transition: 0.2s;
}

.container .tabs a:focus #tech {
    color: #4ca800;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.301);
    transition: 0.2s;
}

.page {
    display: none;
}

.tabs-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    padding: 20px;
    animation: slideUp 1.2s ease-out forwards;
    border-top: 1.5px solid #e0e0e0be;
    margin-top: 15px;
}

section {
    box-sizing: border-box;
    flex: 1 1 320px;
    max-width: 100%;
    padding: 0 8px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.social-media {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    background-color: #cecece8f;
    bottom: 95px;
    right: 20px;
    width: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226);
    border: 2px solid #7e7e7ede;
    transition: background-color 0.3s ease;
}

.social-media a {
    color: rgb(65, 65, 65);
    text-decoration: none;
    transition: 0.4s ease;
}

.social-media a:hover #ytb {
    color: #ff0101;
    transition: 0.4s ease;
    transform: scale(1.2);
}

.social-media a:hover #instagram {
    background-image: linear-gradient(45deg,
            #FFD600 0%,
            #FF7A00 25%,
            #FF0069 50%,
            #D300C5 75%,
            #7638FA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.4s ease;
    transform: scale(1.2);
}

.page.active {
    display: flex;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    align-items: start;
}

.item-card {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid #0000004b;
    box-shadow: 2px 5px 25px 3px #0760b449;
    animation: slideUp 0.6s ease-out forwards;
    border-radius: 8px;
    overflow: hidden;
    transition: transform .15s ease, box-shadow .15s ease;
}

.item-card:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.301);
    transition: 0.3s;
}

.item-card:hover img {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.item-card__img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
    background: #ddd;
    transition: transform 0.5s ease;
}

.item-card__body {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-card__title {
    font-size: 0.95rem;
    line-height: 1.2;
    margin: 0;
    color: #111;
}

.item-card__meta {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
}

.item-card__by {
    display: flex;
    margin: 2px;
    align-items: center;
    color: #000000e3;
    gap: 5px;
}

.item-card__link {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.2rem 0.4rem;
    background: #ffffff;
    border: 2px solid #094f96;
    height: 20px;
    color: #094f96;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.5s ease;
}

.item-card__link:hover {
    background: #094f96;
    color: white;
    transition: background-color 0.5s ease;
}

.item-card__link i {
    display: none;
    transition: display 0.5s ease;
}

.item-card__link:hover i {
    display: block;
    font-size: 22px;
    color: #ffffff;
    animation: slideUp 0.3s ease-out forwards;
}

.item-card__link:hover span {
    animation: slideDown 0.5s ease-out;
    display: none;
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 480px) {
    .item-card__img {
        height: 110px;
    }

    .items-grid {
        gap: 0.6rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

.text-error {
    color: #ff6b6b;
    text-align: center;
    padding: 1rem;
}

.icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 600;
    color: white;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: linear-gradient(140deg, gray, black);
    border-radius: 50%;
    text-shadow: 0 2px 4px rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
    border: 1px solid #7e7e7ede;
    cursor: url(./cursors/Link.cur), pointer !important;
    transition: 0.3s ease;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icon:hover {
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    z-index: 9999;
    background-color: #deebfff3;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    overflow: hidden;
    flex-direction: column;
}

.overlay img {
    width: 100px;
    border-radius: 20px;
    box-shadow: 2px 5px 45px 3px #187fdf;
}

.bemvindo {
    opacity: 0;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-8px);
    }
}

body.loaded .carregando {
    opacity: 0;
}

body.loaded .bemvindo {
    opacity: 1;
}

body.loaded .overlay {
    opacity: 0;
    pointer-events: none;
}

body.loaded .loading-button {
    transform: scale(25);
    opacity: 0;
}

body.loaded .site-content {
    opacity: 1;
    transform: scale(1);
    overflow: auto;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #0000019e;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.349);
    border-radius: 8px;
    z-index: 10000;
    width: 80%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
    animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    0% {
        transform: translate(-50%, -60%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    footer {
        font-size: 14px;
    }

    .right #btn-right {
        display: none;
    }

    .title-main {
        text-align: center;
    }
}

.direitos a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: 0.2s;
}

.direitos a:hover {
    opacity: 0.7;
    transition: 0.2s;
}