@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "PixelGridS";
    src: url(../pixel-grid-font-family-1754034157-0/pixelgridtrial-circlenormxl.otf);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    cursor: url(../Academy/cursors/Normal.cur), auto;
}

a,
button {
    cursor: url(../Academy/cursors/Link.cur), pointer !important;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main section {
    background-color: white;
    width: 100%;
    height: 600px;
}


main section:first-of-type {
    background: linear-gradient(120deg, #092b61, #09437a, #112a53);
}

main .main-header {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 480px;
    color: black;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

main .conteudo-header {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

main .conteudo-header span:last-of-type {
    margin-top: 40px;
    font-weight: 600;
}

.header {
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff19;
    border: 2px solid #000000;
    border-radius: 50px;
}

.header img {
    width: 250px;
}

.header .login {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    color: black;
}

.header .login a {
    text-decoration: none;
    padding: 5px;
}

.header .login .login1 {
    color: black;
    text-align: center;
    transition: 0.3s;
}

.header .login .login1:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.header .login .login2 {
    background-color: #0c72d1;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-bottom: 4px solid black;
    text-align: center;
    border-radius: 10px;
}

.header .login .login2:hover {
    border-bottom: 2px solid black;
}

.efect-container {
    color: #000000;
    margin-top: 40px;
}

.typing-effect {
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-right: 2px solid #0b7be4;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #0b7be4;
    }
}

.tabs-section {
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tabs {
    display: flex;
    border: 2px solid #112a53;
    align-items: center;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    color: #112a53;
    text-align: center;
}

.tabs span {
    width: 220px;
    font-size: 14px;
}

.tabs i {
    background-color: #09437a;
    border-radius: 50%;
    padding: 5px;
    font-size: 24px;
    color: #86bcee;
}

.main-image {
    padding: 30px 1px 30px 30px;
    margin: 0 auto;
    width: 900px;
    background: linear-gradient(120deg, #5eb0fd79, #d9e8ff, #5eb0fd5b, #ffffff);
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    border: 2px solid #0000004b;
}

main .main-image img:first-of-type {
    position: absolute;
    width: 180px;
    margin-top: 90px;
    left: 280px;
    z-index: 2;
    border-radius: 30px;
}

.main-image img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 90%;
}

.icon-chat {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0c72d1;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.icon-chat:hover {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.705);
}

@media (max-width: 1068px) {
    .header {
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
    }

    main .conteudo-header {
        margin: 30px;
    }

    main .conteudo-header h1 {
        font-size: 26px;
    }

    main .conteudo-header span:last-of-type {
        margin-top: 20px;
    }
}

@media (max-width: 968px) {
    .header {
        border: none;
    }
}

@media (max-width: 1000px) {
    .main-image {
        width: 98vw;
        padding: 20px 5px 20px 5px;
        flex-direction: column;
        align-items: center;
    }

    main .main-image img:first-of-type {
        position: static;
        width: 120px;
        margin-top: 20px;
        left: unset;
        border-radius: 20px;
        z-index: 2;
        margin-bottom: 10px;
    }

    .main-image img {
        width: 95vw;
        max-width: 400px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
}

@media (max-width: 600px) {
    .main-image {
        width: 100vw;
        padding: 10px 0 10px 0;
        border-radius: 10px;
    }

    main .main-image img:first-of-type {
        width: 80px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .main-image img {
        width: 90vw;
        max-width: 220px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
}